head
	meta(charset=metadata.encoding)

	title
		if isHome
			= metadata.siteTitle
		else
			= `${title} - ${metadata.siteTitle}`

	meta(name="viewport", content="width=device-width, initial-scale=1")
	meta(name="description", content=description)
	meta(property="og:title", content=isHome ? metadata.siteTitle : title)
	meta(property="og:type", content="website")
	meta(
		property="og:image",
		content=`${metadata.scheme}://${metadata.domain}${assetPath('ogp.png')}`
	)
	meta(
		property="og:url",
		content=`${metadata.scheme}://${metadata.domain}${url(page.url)}`
	)
	meta(property="og:description", content=description)
	meta(property="og:site_name", content=metadata.siteTitle)
	meta(property="og:locale", content=`${metadata.lang}_${metadata.region}`)

	meta(name="twitter:card", content="summary_large_image")

	link(
		rel="canonical",
		href=`${metadata.scheme}://${metadata.domain}${url(page.url)}`
	)
	if !env.isDev
		link(rel="stylesheet", href=assetPath('main.css'))
	link(rel="icon", href=url('/favicon.ico'))
	link(rel="apple-touch-icon", href=assetPath('apple-touch-icon.png'))

	script(defer, nomodule, src=assetPath('polyfill-nomodule.js'))
	script(defer, src=assetPath('main.js'))
