mixin c-site-modal-menu(props = {})
	-
		props = Object.assign({}, props);

	.c-site-modal-menu(
		role="dialog",
		aria-label="メニュー",
		aria-modal="true",
		data-controller="modal-dialog"
	)&attributes(attributes)
		.o-wrapper.o-stack-040
			.c-site-modal-menu__head
				.o-cluster.u-justify-content-between
					a.u-py-012(href=f.url('/'), data-modal-dialog-target="autoFocus")= metadata.siteTitle
					button.u-py-012(type="button", data-action="modal-dialog#close") 閉じる

			p.u-d-flex
				a.u-py-012(href=f.url('/services/')) サービス

			ul.o-grid
				each page in collections.service
					li
						+c-service-card(page).u-height-full

			p.u-d-flex
				a.u-py-012(href=f.url('/about/')) 私たちについて
