mixin c-post-card(props = {})
	-
		props = Object.assign({
		  image: "",
		  title: "",
		  date: DateTime.local(),
		  href: "",
		  lede: "",
		  tags: [],
		}, props);

	article.c-post-card&attributes(attributes)
		.u-frame.u-frame--ratio-16x9
			img(src=props.image, alt="", decoding="async")

		.c-post-card__body.u-stack-split.u-stack-3
			p
				time(datetime=props.date.toISO())= props.date.setLocale(metadata.lang).toFormat('y年L月d日')

			h3
				a(href=props.href)= props.title

			p.u-mb-auto= props.lede

			if props.tags.length
				div
					ul.u-cluster.u-cluster--space-2
						each tag in props.tags
							li
								.c-post-card__tag= tag
