mixin post-card(props = {})
	-
		props = Object.assign({
		  image: "",
		  title: "",
		  date: DateTime.local(),
		  href: "",
		  lede: "",
		  tags: [],
		}, props);

	article.post-card&attributes(attributes)
		.frame.frame--ratio-16x9
			img(src=props.image, alt="", decoding="async")

		.post-card__body.stack.stack--split.stack--s3
			p
				time(datetime=props.date.toISO())= props.date.setLocale(metadata.lang).toFormat('y年L月d日')

			h3
				a(href=props.href)= props.title

			p.mb-auto= props.lede

			if props.tags.length
				div
					ul.cluster.cluster--s2
						each tag in props.tags
							li
								.post-card__tag= tag
