extends /layouts/style-guide

block body
	.sg-center
		+sg-heading({ content: "stack" })

		p すべての子要素の間に共通の余白を適用します。

		p
			a(href="https://every-layout.dev/layouts/stack/") The Stack: Every Layout

	.sg-center
		+sg-heading({ content: "stack:Basic" })

	+sg-demo({ guide: true })
		.stack.stack--s3(class="stack--s5@md")
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum nesciunt repellendus at totam harum fuga ipsa recusandae doloribus beatae, voluptates consequuntur laboriosam, quod dolore in laborum iste quia architecto corrupti.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum nesciunt repellendus at totam harum fuga ipsa recusandae doloribus beatae, voluptates consequuntur laboriosam, quod dolore in laborum iste quia architecto corrupti.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum nesciunt repellendus at totam harum fuga ipsa recusandae doloribus beatae, voluptates consequuntur laboriosam, quod dolore in laborum iste quia architecto corrupti.

	.sg-center
		+sg-heading({ content: "stack:Nested variants" })

	+sg-demo({ guide: true })
		.stack.stack--s4(class="stack--s6@md")
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum nesciunt repellendus at totam harum fuga ipsa recusandae doloribus beatae, voluptates consequuntur laboriosam, quod dolore in laborum iste quia architecto corrupti.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum nesciunt repellendus at totam harum fuga ipsa recusandae doloribus beatae, voluptates consequuntur laboriosam, quod dolore in laborum iste quia architecto corrupti.

			.stack.stack--s2(class="stack--s4@md", style="padding: 1rem")
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum nesciunt repellendus at totam harum fuga ipsa recusandae doloribus beatae, voluptates consequuntur laboriosam, quod dolore in laborum iste quia architecto corrupti.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum nesciunt repellendus at totam harum fuga ipsa recusandae doloribus beatae, voluptates consequuntur laboriosam, quod dolore in laborum iste quia architecto corrupti.

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum nesciunt repellendus at totam harum fuga ipsa recusandae doloribus beatae, voluptates consequuntur laboriosam, quod dolore in laborum iste quia architecto corrupti.

	.sg-center
		+sg-heading({ content: "stack:Splitting the stack" })

	+sg-demo({ guide: true })
		.overflow-hidden
			.switcher.switcher--s5(class="switcher--row@md")
				.stack.stack--split.stack--s3
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab neque quaerat explicabo odit aspernatur tempora commodi reiciendis voluptatem, quam id eius! Recusandae dignissimos optio nostrum qui ea, illo quaerat perferendis.
					p.mb-auto Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quam, ipsa necessitatibus accusamus eveniet, quibusdam voluptas adipisci eos est corporis magnam suscipit consequuntur quaerat similique veniam explicabo perferendis ipsam quas.
					p footer
				div(style="align-self: center")
					img(src="https://source.unsplash.com/1600x900", alt="", decoding="async")

	.sg-center
		+sg-heading({ content: "center" })

		p 包容した要素を中央配置にします。

		p
			a(href="https://every-layout.dev/layouts/center/") The Center: Every Layout

	.sg-center
		+sg-heading({ content: "center:Basic" })

	+sg-demo({ noGutters: true, guide: true })
		.center
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro necessitatibus nobis libero suscipit dolores, sit beatae impedit illo nostrum modi earum deleniti, fuga ut amet aperiam corrupti aut eveniet. Error.

	.sg-center
		+sg-heading({ content: "center:stack context" })

	+sg-demo({ noGutters: true, guide: true })
		.stack.stack--s4
			p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia quas consectetur minima adipisci possimus rerum repellendus. Nam, harum, ducimus repellat explicabo dicta fugit ipsa tenetur unde exercitationem recusandae est voluptate.
			.center
				p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci ea placeat aliquam tempore optio nam reprehenderit accusantium eveniet beatae, omnis laudantium saepe, cupiditate molestiae recusandae velit aliquid vel minima animi.
			p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia quas consectetur minima adipisci possimus rerum repellendus. Nam, harum, ducimus repellat explicabo dicta fugit ipsa tenetur unde exercitationem recusandae est voluptate.

	.sg-center
		+sg-heading({ content: "cluster" })

		p
			a(href="https://every-layout.dev/layouts/cluster/") The Cluster: Every Layout

	.sg-center
		+sg-heading({ content: "cluster:Basic" })

	+sg-demo({ guide: true })
		.overflow-hidden
			.cluster.cluster--s3
				div Lorem, ipsum dolor
				div Lorem ipsum dolor sit amet consectetur, adipisicing elit
				div Lorem ipsum dolor sit
				div Lorem ipsum dolor sit amet consectetur adipisicing
				div Lorem ipsum dolor sit amet
				div Lorem ipsum dolor sit amet consectetur

	.sg-center
		+sg-heading({ content: "cluster:Nested" })

	+sg-demo({ guide: true })
		.overflow-hidden
			.cluster.cluster--s3.justify-between.items-center
				div(style="font-size: 3em") Lorem ipsum dolor
				.overflow-hidden
					.cluster.cluster--s3
						div Lorem ipsum dolor sit, amet
						div Lorem ipsum dolor sit
						div Lorem, ipsum dolor sit amet consectetur

	+sg-demo({ guide: true })
		.overflow-hidden
			.cluster.cluster--s3.justify-between.items-end
				div(style="font-size: 3em") Lorem ipsum dolor sit amet
				div View all

	.sg-center
		+sg-heading({ content: "switcher" })

		p 行か列かの入れ替え。

		p
			a(href="https://every-layout.dev/layouts/switcher/") The Switcher: Every Layout

	.sg-center
		+sg-heading({ content: "switcher:Basic" })

	+sg-demo({ guide: true })
		.overflow-hidden
			.switcher.switcher--s3(class="switcher--row@md switcher--s5@md")
				div
					img(src="https://source.unsplash.com/1600x900", alt="", decoding="async")
				div
					img(
						src="https://source.unsplash.com/1600x900?2",
						alt="",
						decoding="async"
					)
				div
					img(
						src="https://source.unsplash.com/1600x900?3",
						alt="",
						decoding="async"
					)

	+sg-demo({ guide: true })
		.overflow-hidden
			.switcher.switcher--s3(class="switcher--row@md switcher--s5@md")
				div Lorem, ipsum dolor.
				div
					img(src="https://source.unsplash.com/1600x900", alt="", decoding="async")

	.sg-center
		+sg-heading({ content: "switcher:Different flex-grow" })

	+sg-demo({ guide: true })
		.overflow-hidden
			.switcher.switcher--s3(class="switcher--row@md switcher--s5@md")
				div
					img(src="https://source.unsplash.com/1600x900", alt="", decoding="async")
				div(style="flex-grow: 2")
					img(
						src="https://source.unsplash.com/1600x900?2",
						alt="",
						decoding="async"
					)
				div
					img(
						src="https://source.unsplash.com/1600x900?3",
						alt="",
						decoding="async"
					)

	.sg-center
		+sg-heading({ content: "switcher:Align variants" })

	+sg-demo({ guide: true })
		.overflow-hidden
			.switcher.switcher--s3.items-center(class="switcher--row@md switcher--s5@md")
				div Lorem, ipsum dolor.
				div
					img(src="https://source.unsplash.com/1600x900", alt="", decoding="async")

	.sg-center
		+sg-heading({ content: "switcher:Half in center" })

	+sg-demo({ guide: true })
		.overflow-hidden
			.switcher.items-center(class="switcher--row@md")
				div
					img(src="https://source.unsplash.com/1600x900", alt="", decoding="async")
				div
					div(style="padding-left: 2rem")
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque inventore fugit fugiat cum error, quasi earum cupiditate expedita minima, provident libero maiores ea omnis ab, at adipisci nobis sequi? Exercitationem!

	.sg-center
		+sg-heading({ content: "grid" })

		p
			a(href="https://every-layout.dev/layouts/grid/") The Grid: Every Layout

	.sg-center
		+sg-heading({ content: "grid:Basic" })

	+sg-demo({ guide: true })
		.overflow-hidden
			.grid.grid--s3(class="grid--col-3@md grid--col-4@lg grid--5@md")
				div
					img(src="https://source.unsplash.com/1600x900", alt="", decoding="async")
				div
					img(
						src="https://source.unsplash.com/1600x900?2",
						alt="",
						decoding="async"
					)
				div
					img(
						src="https://source.unsplash.com/1600x900?3",
						alt="",
						decoding="async"
					)
				div
					img(src="https://source.unsplash.com/1600x900", alt="", decoding="async")
				div
					img(
						src="https://source.unsplash.com/1600x900?2",
						alt="",
						decoding="async"
					)
				div
					img(
						src="https://source.unsplash.com/1600x900?3",
						alt="",
						decoding="async"
					)

	.sg-center
		+sg-heading({ content: "grid:No space" })

	+sg-demo({ guide: true })
		.overflow-hidden
			.grid(class="grid--col-3@md grid--col-4@lg")
				div
					img(src="https://source.unsplash.com/1600x900", alt="", decoding="async")
				div
					img(
						src="https://source.unsplash.com/1600x900?2",
						alt="",
						decoding="async"
					)
				div
					img(
						src="https://source.unsplash.com/1600x900?3",
						alt="",
						decoding="async"
					)
				div
					img(src="https://source.unsplash.com/1600x900", alt="", decoding="async")
				div
					img(
						src="https://source.unsplash.com/1600x900?2",
						alt="",
						decoding="async"
					)
				div
					img(
						src="https://source.unsplash.com/1600x900?3",
						alt="",
						decoding="async"
					)

	.sg-center
		+sg-heading({ content: "grid:with stack" })

	+sg-demo({ guide: true })
		.overflow-hidden
			.grid.grid--s3(class="grid--col-3@md grid--col-4@lg grid--s5@md")
				div
					.stack.stack--s2.stack--split(style="background-color: #ccc")
						img(src="https://source.unsplash.com/1600x900", alt="", decoding="async")
						p.mb-auto Lorem, ipsum dolor.
						p colophon
				div
					.stack.stack--s2.stack--split(style="background-color: #ccc")
						img(
							src="https://source.unsplash.com/1600x900?2",
							alt="",
							decoding="async"
						)
						p.mb-auto Lorem ipsum dolor sit amet consectetur adipisicing elit. A officia harum commodi. Vero eum assumenda id harum facere quam delectus laudantium aspernatur eos. Cum aspernatur vel perferendis, ducimus dolores sit.
						p colophon
				div
					.stack.stack--s2.stack--split(style="background-color: #ccc")
						img(
							src="https://source.unsplash.com/1600x900?3",
							alt="",
							decoding="async"
						)
						p.mb-auto Lorem, ipsum dolor.
						p colophon
				div
					.stack.stack--s2.stack--split(style="background-color: #ccc")
						img(src="https://source.unsplash.com/1600x900", alt="", decoding="async")
						p.mb-auto Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium delectus, magnam, earum aut nemo est labore fuga amet consequuntur a esse dicta! Nemo tenetur ad a accusantium molestias, commodi iure!
						p colophon
				div
					.stack.stack--s2.stack--split(style="background-color: #ccc")
						img(
							src="https://source.unsplash.com/1600x900?2",
							alt="",
							decoding="async"
						)
						p.mb-auto Lorem, ipsum dolor.
						p colophon
				div
					.stack.stack--s2.stack--split(style="background-color: #ccc")
						img(
							src="https://source.unsplash.com/1600x900?3",
							alt="",
							decoding="async"
						)
						p.mb-auto Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium delectus, magnam, earum aut nemo est labore fuga amet consequuntur a esse dicta! Nemo tenetur ad a accusantium molestias, commodi iure!
						p colophon

	.sg-center
		+sg-heading({ content: "grid:with stack (auto height)" })

	+sg-demo({ guide: true })
		.overflow-hidden
			.grid.grid--s3.grid--s5(class="grid--col-3@md grid--col-4@lg")
				div
					.stack.stack--s2(style="background-color: #ccc")
						img(src="https://source.unsplash.com/1600x900", alt="", decoding="async")
						p Lorem, ipsum dolor.
				div
					.stack.stack--s2(style="background-color: #ccc")
						img(
							src="https://source.unsplash.com/1600x900?2",
							alt="",
							decoding="async"
						)
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. A officia harum commodi. Vero eum assumenda id harum facere quam delectus laudantium aspernatur eos. Cum aspernatur vel perferendis, ducimus dolores sit.
				div
					.stack.stack--s2(style="background-color: #ccc")
						img(
							src="https://source.unsplash.com/1600x900?3",
							alt="",
							decoding="async"
						)
						p Lorem, ipsum dolor.
				div
					.stack.stack--s2(style="background-color: #ccc")
						img(src="https://source.unsplash.com/1600x900", alt="", decoding="async")
						p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium delectus, magnam, earum aut nemo est labore fuga amet consequuntur a esse dicta! Nemo tenetur ad a accusantium molestias, commodi iure!
				div
					.stack.stack--s2(style="background-color: #ccc")
						img(
							src="https://source.unsplash.com/1600x900?2",
							alt="",
							decoding="async"
						)
						p Lorem, ipsum dolor.
				div
					.stack.stack--s2(style="background-color: #ccc")
						img(
							src="https://source.unsplash.com/1600x900?3",
							alt="",
							decoding="async"
						)
						p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium delectus, magnam, earum aut nemo est labore fuga amet consequuntur a esse dicta! Nemo tenetur ad a accusantium molestias, commodi iure!

	.sg-center
		+sg-heading({ content: "frame" })

		p
			a(href="https://every-layout.dev/layouts/frame/") The Frame: Every Layout

	.sg-center
		+sg-heading({ content: "frame:Basic" })

	+sg-demo({ guide: true })
		.frame.frame--ratio-3x4(class="frame--ratio-16x9@md")
			img(src="https://source.unsplash.com/random", alt="", decoding="async")

	+sg-demo({ guide: true })
		.frame.frame--ratio-3x4(class="frame--ratio-16x9@md")
			div
				p Hello!

	.sg-center
		+sg-heading({ content: "frame:with grid" })

	+sg-demo({ guide: true })
		.overflow-hidden
			.grid.grid--s3(class="grid--col-3@md grid--col-4@lg grid--s5@md")
				div
					.frame.frame--ratio-3x4
						img(src="https://source.unsplash.com/random", alt="", decoding="async")
				div
					.frame.frame--ratio-3x4
						img(src="https://source.unsplash.com/random?2", alt="", decoding="async")
				div
					.frame.frame--ratio-3x4
						img(src="https://source.unsplash.com/random?3", alt="", decoding="async")
				div
					.frame.frame--ratio-3x4
						img(src="https://source.unsplash.com/random", alt="", decoding="async")
				div
					.frame.frame--ratio-3x4
						img(src="https://source.unsplash.com/random?2", alt="", decoding="async")
				div
					.frame.frame--ratio-3x4
						img(src="https://source.unsplash.com/random?3", alt="", decoding="async")
