mixin c-base-disclosure(props = {})
	-
		props = Object.assign({
			isExpanded: false,
			contentId: f.id(),
		}, props);

	.c-base-disclosure(data-controller="c-base-disclosure")&attributes(attributes)
		button.c-base-disclosure__button(
			type="button",
			aria-expanded=String(props.isExpanded),
			aria-controls=props.contentId,
			data-c-base-disclosure-target="button",
			data-action="c-base-disclosure#toggle"
		)
			svg.c-base-disclosure__button-icon(
				width="0.75em",
				height="0.75em",
				viewBox="0 0 24 24"
			)
				path(d="M21 12.3923L3 22.7846L3 2L21 12.3923Z")
			= props.summary
		.u-p-012(
			id=props.contentId,
			data-c-base-disclosure-target="content",
			style=!props.isExpanded && { display: 'none' }
		)
			block
